<div th:fragment="titlebar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-inline-flex">
      <!-- Brand/logo -->
      <div class="navbar-brand d-inline-flex align-items-center">
        <img class="" th:src="@{/image/NomNomNectar_Logo_Transparent.png}" style="width: 80px" alt="¡NomNomNectar!">
        <h2 class="ml-1" style="font-family: MacondoSwash, serif; padding-top: 10px">
          NomNomNectar
        </h2>
      </div>
    </div>
  </nav>
</div>
